<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Watch People Mix!</h1>
    <br />
    <h2>I'm a DJ</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>


<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Featured Mix</h3>
    <br />
    <p>Check out this weeks <b>Hot Mix</b></p>
  </div>

  <div class="col-12 col sm">
    <h3>Share your Content</h3>
    <br />
    <p>Have a song or a mix you want to share for the world to hear? Upload it here!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join the Hype</h3>
    <br />
    <p>Don't miss a beat when your favorite DJ's crank out new tunes!</p>
  </div>
</div>
